<div class="article_lead mt-4 text-center font-weight-bold">
    <p><strong><h4>Edit Article</h4></strong></p>
</div>

<%= render 'form' %>

<%= link_to '[Return to Articles Page]', articles_path, class: "form-group row justify-content-center" %>