<div class="article_lead mt-4 text-center font-weight-bold">
    <p><strong><h4>New Article</h4></strong></p>
</div>

<%= render 'form' %>

<br>

<%= link_to '[Back to Articles]', articles_path, class: "form-group row justify-content-center " %>