<div class="article_lead mt-4 text-center font-weight-bold">
    <p><strong><h4>Article Details</h4></strong></p>
</div>

<div class="container">
    <div class="jumbotron">
        <div class="text-light">
            <h2><%= @article.title %></h3>
        </div>

        <div class="container text-light">
            <h5><p>by: Julian Castro</p></h5>
        </div>

        <div class="container text-light">
            <h6>
                <%= @article.description %>
            </h6>
        </div>
    </div>
</div>
