<div class="container" id="body_container">
    <p class="body-head"><strong>Home Page</strong></p>

    <p class="body-lead">Rails is a web application development framework written in the Ruby programming language. It is designed to make programming web applications easier by making assumptions about what every developer needs to get started. It allows you to write less code while accomplishing more than many other languages and frameworks. Experienced Rails developers also report that it makes web application development more fun. </p>
    <br>
    <p class="body-lead">Rails is opinionated software. It makes the assumption that there is a "best" way to do things, and it's designed to encourage that way - and in some cases to discourage alternatives. If you learn "The Rails Way" you'll probably discover a tremendous increase in productivity. If you persist in bringing old habits from other languages to your Rails development, and trying to use patterns you learned elsewhere, you may have a less happy experience. </p>
    
</div>

<div class="container" id="home_container">
    <div class="jumbotron text-center text-light">
        <h1 class="display-5">Post of the Month: June</h1>
        <p class="lead">Made by: Julian Castro</p>
        <p class="lead">Date made: June 5, 2020</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <a class="btn btn-dark btn-lg" href="#" role="button">Learn more</a>
    </div>
</div>