
<footer class="footer py-4 bg-dark text-white">
  <div class="container text-center text-light">
    <%= link_to 'Articles Listing', articles_path, class: "links" %> |
    <%= link_to 'About Page', about_path, class: "links" %>
  </div>
  <div class="container text-center text-light">
    <p>Copyright @ Your Website</p>
  </div>
</footer>